* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    /* margin-top: 80px; */
    padding: 24px;
}

button {
    text-align: center;
    color: rgb(201, 93, 93);
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(201, 93, 93);
    flex: 1;
}

.container {
    border: 4px solid rgb(201, 93, 93);
    border-radius: 8px;
    padding: 24px;
    width: 320px;
}

.calcDisplay {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    color: rgb(201, 93, 93);
    border: 2px solid rgb(201, 93, 93);
    border-radius: 6px;
    padding: 16px;
    font-size: 2.8rem;
    text-align: right;
    min-height: 70px;
}

.calcKeyboard {
    border: 2px solid rgb(201, 93, 93);
    color: rgb(201, 93, 93);
    border-radius: 6px;
    padding: 16px;
    font-size: 2.8rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}