* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    /* margin-top: 80px; */
    padding: 24px;
}

.container {
    border: 4px solid rgb(201, 93, 93);
    border-radius: 8px;
    padding: 24px;
    margin: 0 auto;
    /* width: 360px; */
}

.calcDisplay {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    color: rgb(201, 93, 93);
    border: 2px solid rgb(201, 93, 93);
    border-radius: 6px;
    padding: 16px;
    font-size: 2.8rem;
    text-align: right;
    min-height: 70px;
}

.calcKeyboard {
    border: 2px solid rgb(201, 93, 93);
    color: rgb(201, 93, 93);
    border-radius: 6px;
    padding: 8px;
    font-size: 2.8rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: s;
    min-height: 232px;
    width: 240px;
}

button {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(201, 93, 93);
    border-radius: 6px;
    color: rgb(201, 93, 93);
    text-align: center;
    font-size: 1.4rem;
    padding: 8px;
    height: 48px;
    width: 48px;
    /* flex: 1; */
}

.delete, .number0 {
    /* flex-grow: 1; */
    flex-basis: 92px;
    /* flex: 1; */
}