* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-top: 80px;
    padding: 24px;
}

button {
    text-align: center;
    color: rgb(201, 93, 93);
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(201, 93, 93);
    flex: 1;
    flex-basis: %;
}

.container {
    border: 2px solid rgb(201, 93, 93);
    padding: 24px;
    /* text-align: center; */
    width: 340px;
    height: 480px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.calcDisplay {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-end;
    padding: 4px 8px;
    margin-bottom: 24px;
    border: 2px solid rgb(201, 93, 93);
    color: rgb(201, 93, 93);
    /* flex: 1; */
    font-size: 32px;
}

.calcKeyboard {
    border: 2px solid rgb(201, 93, 93);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 8px;
    gap: 8px; 
    flex: 1;

}

.number0 {
    flex: 2;
}