* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    padding: 24px;
}

.container {
    border: 4px solid rgb(201, 93, 93);
    box-shadow: 0 10px 25px rgb(201, 93, 93, 0.3);
    border-radius: 8px;
    padding: 24px;
    margin: 0 auto;
    width: 100%;
    max-width: 320px;
}

.calcDisplay {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    color: rgb(201, 93, 93);
    border: 2px solid rgb(201, 93, 93);
    border-radius: 6px;
    padding: 16px;
    text-align: right;
    min-height: 100px;
    width: 100%;
    container-type: inline-size;
}

.result, .expression {
    font-size: clamp(1.2rem, 15cqi, 3rem);
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
}

.result::-webkit-scrollbar {
    display: none;
}

.expression {
    font-size: 1.5rem;
    margin-bottom: 4px;
    opacity: 0.7;
}

.calcKeyboard {
    border: 2px solid rgb(201, 93, 93);
    color: rgb(201, 93, 93);
    border-radius: 6px;
    padding: 8px;
    font-size: 2.8rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

button {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(201, 93, 93);
    border-radius: 6px;
    color: rgb(201, 93, 93);
    text-align: center;
    font-size: 1.4rem;
    height: 60px;
    flex: 1 0 calc(25% - 8px);
}

.zero, .backspace {
    flex: 1 0 calc(50% - 8px);
}

button:active {
    background-color: rgb(201, 93, 93);
    color: rgb(255, 255, 255);
    transform: translateY(2px);
    transition: 0.05s;
}

button:hover {
    background-color: rgb(201, 93, 93, 0.4);
}