* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-top: 80px;
    padding: 24px;
}

button {
    text-align: center;
    color: rgb(201, 93, 93);
    font-size: 16px;
    /* margin: 12px auto; */
    padding: 6px 12px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(201, 93, 93);
}

.display {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-end;
    padding: 4px;
    margin: 24px 24px;
    border: 2px solid rgb(201, 93, 93);
    color: rgb(201, 93, 93);

    font-size: 32px;
}

.container {
    border: 2px solid rgb(201, 93, 93);
    padding: 24px;
    text-align: center;
    width: 360px;
    height: 480px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.btns {
    border: 2px solid rgb(201, 93, 93);
    display: flex;
    flex-direction: row;
    padding: 8px;
    align-items: center;   
    gap: 8px; 
}

.leftSide {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.delKeys {
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(97, 194, 123);
    /* padding: 12px; */
    gap: 8px;
}

.numbers {
    border: 2px solid rgb(97, 194, 123);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    margin: 0 auto;
    /* padding: 24px; */
    gap: 8px;
    justify-content: space-between;
}

.number0 {
    flex: 1;
}

.operators {
    display: flex;
    /* padding: 12px; */
    gap: 8px;
    border: 2px solid rgb(97, 194, 123);
    flex-direction: column-reverse;
}